doctype html
include mixins/feedElement

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type="text/css", href='/css/normalize.css')
    link(rel='stylesheet', type="text/css", href='/css/styles.css')
    script(defer src="/js/script.js")
    title Find your favourite racket !
  body
    .container
      nav.nav
        ul.nav__list
          a.nav__link#noTransitionsOnLoad(href=`${dynamicUrl}`)
            li.nav__element#noTransitionsOnLoad Start
          a.nav__link#noTransitionsOnLoad(href=`${dynamicUrl}`)
            li.nav__element#noTransitionsOnLoad Rackets
          a.nav__link#noTransitionsOnLoad(href=`${dynamicUrl}`)
            li.nav__element#noTransitionsOnLoad Kontakt
          a.nav__link#noTransitionsOnLoad(href=`${dynamicUrl}register`)
            li.nav__element#noTransitionsOnLoad Registrieren
          a.nav__link#noTransitionsOnLoad(href=`${dynamicUrl}login`)
            li.nav__element#noTransitionsOnLoad Anmelden
      form.form(action=`/search/` method='POST')
        label.form__description(for='searchqueries') Type in a FULL racket brand/name
        .form__submit
          input.form__input(type='text', name="searchqueries", id='searchqueries', placeholder='Example: "Head"')
          button.form__button(type='submit') Find rackets!

      block flashes
        if locals.flashes.generalFlash
          .flash-messages
            each val, key in flashes.generalFlash
              span.flash #{val}

      
      block dynamicContent

